@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  overflow-y: auto;
}
.Fonts-Poppins {
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}
table,
tr {
  border: 1px solid black;
}
th,
td {
  padding: 1rem;
  border: 1px solid black;
}
@keyframes bounce {
  0%,
  100% {
    transform: translatex(-25%);
    animation-timing-function: linear;
  }
  50% {
    transform: none;
    animation-timing-function: linear;
  }
}
.animate-horizontal {
  animation: bounce 1s infinite;
}
@media (width<1430px) {
  html {
    font-size: 9px;
  }
}
@media (width<1000px) {
  html {
    font-size: 7px;
  }
}
@media (width<768px) {
  html {
    font-size: 6px;
  }
  footer {
    flex-direction: column;
  }
  footer #aboutMe {
    width: 90%;
    height: auto;
  }
  footer #linkBox {
    width: 50%;
    align-self: flex-start;
    margin-left: 6rem;
  }
  footer #summary {
    font-size: 2.9rem;
  }
}
@media (width<650px) {
  html {
    font-size: 5px;
  }
}
@media (width<540px) {
  html {
    font-size: 4px;
  }
}
@media (width<430px) {
  html {
    font-size: 3px;
  }
}
@media (width<320px) {
  html {
    font-size: 3px;
  }
  .mb-flex-wrap {
    flex-wrap: wrap;
  }
  #contact-detail {
    flex-direction: column;
  }
  #content #name {
    display: flex;
    flex-direction: column;
  }
}
